<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <title>Log in with Twitter</title>

    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <style></style>
  </head>

  <body>
    <main class="container">
      <div>
        <hgroup>
          <h1>Sign in</h1>
        </hgroup>
        <a href="/login/federated/twitter.com" role="button"
          >Sign in with Twitter</a
        >
      </div>
    </main>
  </body>
</html>
